 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.goku{
  position: static;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://media.tenor.com/WcCLC3XCvMMAAAAd/kratos.gif );
  background-size: contain;
  background-position: center;
}
nav{
  position: static;
  display: grid;
  align-items: end;
  justify-content: space-between;
  padding-top: 250px;
  padding-right: 25%;
  padding-left:25%;
}
.logo{
  position: static;
  color:antiquewhite;
  font-size: 65px;
  font-family: 'Anton', sans-serif;

}
span{
  position: relative;
  color: rgb(68, 68, 232);
  font-family: 'Anton', sans-serif;}


nav ul li{
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 10px 10px;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
}
nav ul li a{
  color:antiquewhite;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}
nav ul li a:hover{
  color:rgb(68, 68, 232);
  transition: 800ms;
  font-family: 'Kanit', sans-serif;
}
button{
  border:none;
  background:rgb(68, 68, 232);
  padding: 12px 30px;
  border-radius: 35px;
  color: antiquewhite;
  font-weight: bold;
  font-size: 20px;
  transition: 600ms;
  font-family: 'Kanit', sans-serif;

}
button:hover{
  transform: scale(1.23);
  cursor: alias;
  font-family: 'Libre Baskerville', serif;
}
button a{
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Libre Baskerville', serif;
}
